.divForm{
	color: #fff;
	margin-top: 3%;
	margin-left: 20%;
}
.cadastroUserLeft{
	float: left;
}
.cadastroUserRight{
	float: right;
}
.bugcol1{
	margin-left: -3%;
}
.bugcol2{
	margin-left: 3%;
}
.divGallery{
	text-align: center !important; 
	color: #fff !important;
	border-radius-top: 0.5em;
}
.caption h3{
	color: black;
	margin-top: 
}
.divDelivery{
	margin-top: 2%;
	margin-left: 20%;
}
.divGallery{
	margin-top: 2%;
	border: 2px;
	border-style: solid;
	border-color: rgba(255,255,255,0.6);
	/*background-color: rgba(255,255,255,0.6); */
}
.textoDivGallery{
	color: white;
}
.valorDivGallery{
	margin-top: 10px;
	margin-right: 3px;
	color: white;
}
.divGallery [type='button']{
	margin-top: 2px;
	margin-left: -2px;
	color: black;
}
.divContato{
	margin-left: 20%;
	margin-top: 2%;
	color: #fff;
}	
.administrarPedidoDiv{
	margin-left: 16%;
	margin-top: 3%;
	background-color: rgba( 255, 255, 255, 0.7);
	color: #000 !important;
}
.administrarPedidoDiv a{
	text-decoration: none;
	color: #000;
	background-color:rgba( 255, 255, 255, 0.0);

}
tbody tr:nth-child(odd) {
  	background-color: rgba( 255, 255, 255, 0.7);
}
.center{
	text-align: center;
}
.cadastrarFuncBtn{
	float: right;
}
#cidade{
	color: #000;
}