.divGallery{
	text-align: center !important; 
	color: #fff !important;
	border-radius-top: 0.5em;
}
.caption h3{
	color: black;
	margin-top: 
}
.divDelivery{
	margin-top: 2%;
	margin-left: 20%;
}
.divGallery{
	width:150px;
	height: auto;
	background-color: rgba(0,0,0,0.3);
	margin: 10px;
	border: 2px;
	border-style: solid;
	border-color: rgba(255,255,255,0.6);
	/*background-color: rgba(255,255,255,0.6); */
}
.textoDivGallery{
	color: white;
}
.valorDivGallery{
	color: white;
}
.divGallery [type='button']{
	color: black;
}

.addProduto{
	background-color: #449d44;
	height: 30px;
	width: 100px;
	margin-left: -20% !important;
	margin-bottom: -10%;
	cursor: pointer;
}
